<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 默认模版会采用lodash的模版 -->
    <title><%= htmlWebpackPlugin.options.title %>!</title>
</head>
<body>
    <div id="app">
        {{ msg }}
        <div>
            <h4>Flux 架构就像眼镜：您自会知道什么时候需要它。</h4>
            <h5>这句话同样适用于vuex</h5>
            <img style="width: 100%" src="https://vuex.vuejs.org/vuex.png" alt="vuex单向数据流">
            <p>let's see what's in store: {{ count }}.</p>
            <button @click="add">+ count</button>
            <button @click="min">- count</button>
            <button @click="addAge">+ age</button>
            <button @click="minAge">- age</button>
        </div>
        <intro-comp></intro-comp>
    </div>
</body>
</html>·