<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 默认模版会采用lodash的模版 -->
    <title><%= htmlWebpackPlugin.options.title %>!</title>
</head>
<body>
    <div id="app">
        {{ msg }}
        <p>--------vuex part----------</p>
        <div>
            <h4>Flux 架构就像眼镜：您自会知道什么时候需要它。</h4>
            <h5>这句话同样适用于vuex</h5>
            <img style="width: 100%" src="https://vuex.vuejs.org/vuex.png" alt="vuex单向数据流">
            <p>let's see what's in store: {{ count }}.</p>
            <button @click="add">+ count</button>
            <button @click="min">- count</button>
        </div>
        <!-- <intro-comp></intro-comp> -->
        <p>----------vue-router part---------</p>
        <!-- router -->
        <p>
            <!-- 使用 router-link 组件来导航. -->
            <!-- 通过传入 `to` 属性指定链接. -->
            <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
            <router-link to="/">Go to Default</router-link>
            <router-link to="/intro">Go to /intro/guest</router-link>
            <router-link to="/view">Go to /view</router-link>
        </p>
        <router-view></router-view>
    </div>
</body>
</html>